* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background: cadetblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section {
    padding: 2rem;
    width: 50%;
    background: #ffffff;
    border-radius: 15px;
}

section h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    margin: 10px;
    gap: 15px;
}