<%- include("includes/head"); %>

    <section>
        <h1>

            <% if(typeof title !=="undefined" ) { %>
                <%= title %>
            <% } else { %>
                O titulo não foi enviado.
            <% } %>

        </h1>

        <form action="/" method="post">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <label>Cliente</label>
            <input type="text" name="cliente">
            <button>Enviar</button>
        </form>
    </section>

    <%- include("includes/footer"); %>